<%- include('../fixPages/header') -%>
<%- include('../fixPages/navbar') -%>
<div class="container">
    <!-- Message Succesfuly -->
    <% if (msg && msg != '' ) { %>
        <div class="alert alert-success mt-1 center-alert" role="alert">
            <%= msg %>
        </div>
    <% } %>

    <!-- Events -->
    <div class="row">
        <!-- Events -->
        <% events.forEach((event)=> {%>
            <div class="col-sm-6 col-md-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= event.title%></h5>
                        <hr>
                        <p class="card-text"><%= event.desc%></p>
                        <p><%= event.location%></p>
                        <a href="<%=  '/event/show/'  + event._id %>" class="btn btn-primary">Show More</a>
                    </div>
                </div>
            </div>
        <%})%>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-12 mt-2 mb-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <% for( let i = 1; i <= Math.ceil(total/5); i++ ) { %>
                        <% if (pageNo == i) { %>
                            <li class="page-item active"><a class="page-link" href="<%= '/events/' + i %>"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="<%= '/events/' + i %>"><%= i %></a></li>
                        <% } %>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>
<%- include('../fixPages/footer') -%>