<%- include('../header/header') %>
<%- include('../header/navbar') %>
    <div class="container">
        <div class="row mt-3">
            <div class="col col-12 col-md-4">
                <img src="/<%= productId.image %>" alt="<%= productId.image %>" width="200" height="200">
                <form action="/cart" method="POST" class="mt-2">
                    <input type="number" name="amount" class="form-control">
                    <input type="hidden" name="name" value="<%= productId.name %>">
                    <input type="hidden" name="price" value="<%= productId.price %>">
                    <input type="hidden" name="productId" value="<%= productId._id %>">
                    <input type="hidden" name="redirectTo" value="../views/pages/product">
                    <input type="submit" value="Add To Cart" class="btn btn-outline-primary mt-2">
                </form>
            </div>
            <div class="col col-12 col-md-8">
                <h3><%= productId.name %></h3>
                <h5>Price: <%= productId.price %></h5>
                <p><%= productId.description %></p>
            </div>
        </div>
    </div>
<%- include('../footer/footer') %>